/* --------------------------------------------------------
  
  # Style for     :: LaCroix Design Co. Website
  # Website       :: http://lacroixdesign.net
  # Designed by   :: LaCroix Design Co. | James LaCroix
  # Developed by  :: LaCroix Design Co. | Michael LaCroix
  
  # Typefaces
  - Serif               Georgia
  - Sans-serif          Helvetica Neue
    
***-------------------------------------------------------/





/* ------------------------------------------------------
/ Sass Variables & Mixins
*/

// --- Colors & Patterns --- //
$white:     #FFFFFF;
$grey:      #666666;
$dark-grey: #333333;


// --- Metrics --- //
$page-padding: 1em;  /* Side padding for page */


// --- Typefaces --- //
$type-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$type-serif: Georgia, Cambria, "Times New Roman", Times, serif;





/* ------------------------------------------------------
/ Basic Elements
*/ 

body {
  font-family: $type-sans;
  text-shadow: 1px 1px 1px transparent;
}

a {
  @include transition (color, 0.2s);
}

p,a,h1,h2,h3,h4,h5,label {
  font-family: inherit;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}





/* ------------------------------------------------------
/ Header
*/ 

header.header {
  @include outer-container;
  padding: 0 $page-padding;
}





/* ------------------------------------------------------
/ General
*/ 

.constrained {
  @include outer-container;
  padding: 0 $page-padding;
}

.outdated-browser {
  > div {
    @include outer-container;
    padding: 10px $page-padding;
    p {
      color: $dark-grey;
      font-family: $type-sans;
      font-size: 0.8em;
      margin: 0;
      text-shadow: 0 -1px 1px rgba(0,0,0, 0.2);
    }
    a.close {
      float: right;
      text-decoration: none;
    }
  }
}





/* ------------------------------------------------------
/ Footer
*/ 

footer.footer {
  @include outer-container;
  padding: 0 $page-padding;
}
