section.alerts {
  @include outer-container;
  padding: 20px $page-padding;

  .alert {
    background: #F8F8F8;
    border-bottom: 1px solid #DDD;
    margin: 10px 0;
    padding: 10px;

    p {
      font-size: 13px;
      margin: 0;
    }

    a.close {
      float: right;
      text-decoration: none;
    }

    &.success {
      color: #0F830F;
    }

    &.error {
      color: #C22C56;
    }

    &:hover {
      border-bottom: 1px solid #C5C5C5;
    }
  }
}
